Q1. Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)n
a. 100
b. 162.89
c. 189
d. None of the above

In [31]:
n=10
r=5
p=100

def calculator (n,r,p):
              A=p*(1+r/100)**n
              print('A =',A)

In [32]:
calculator(n,r,p)

A = 162.8894626777442

answer of Question 1 - option b

Q2. In a given string format operation, how will you print the given string.
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
a. print(string.format(a,b))
b. print(string+a+b)
c. print(string.format(b,a))
d. None of the above

In [24]:
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."

print(Str.format(B,A))

There are 20 students in the class, with 10 who play at least one sport.

answer of Question 2 - option c

Q3. In a given sample string, How do you print a double quoted string in between a
regular
string using the escape character?
Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)
b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)
c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)
d. None of the above.

In [26]:
print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying, "Time is Money", and none can deny it.

answer of Question 3 - option a

In [ ]:
Q4. What will be the output of the following code?
x = lambda a,b: a//b
x(10,3)
a. 3.3333333333
b. 3
c. 30
d. 1000

In [27]:
x = lambda a,b: a//b
x(10,3)

3

answer of question 4 - option b

Q5. What will be the output of the following code?
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
a. True
b. Smaller
c. Greater
d. None of the above

In [1]:
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

In [ ]:
answer of question 5 - option c

Q6. What will be the output of the following code?

import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr_1 = numpy.array(my_list1, dtype = int)
print(arr_1)

a. [2 7 3 5 4 6]
b. TypeError
c. NameError: name 'numpy' is not defined
d. None of the above

answer of question 6 - option c

Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s)
is/are appropriate to slice the substring ‚ÄúLearn‚Äù?
a. string[slice(13,8,1)]
b. string[slice(1,8,1)]
c. string[8:14]
d. string[slice(8,13,1)]

In [8]:
string = "Machine Learning"
string[slice(8,13,1)]
#string[8:13]

'Learn'

answer of question 7 - option d

Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index
of the
value 18?
a. 3
b. 2
c. 0
d. 1

In [20]:
aa = np.arange(10,25,4)
np.where(aa==18)

(array([2], dtype=int64),)

In [ ]:
answer of question 8 - option b

Q9. Which of the following is true with respect to the below codes?

num1=5**4
num2=pow(5,4)
print(num1,num2)

a. num1 = num2
b. num1 ‚â† num2
c. num1 < num2
d. num1 > num2

In [21]:
num1=5**4
num2=pow(5,4)
print(num1,num2)

625 625

In [ ]:
answer of question 9 - option a

Q10.A Python NameError exception is raised when: -
a. Trying to access a variable which has not been defined
b. Trying to access a key in a dictionary that does not exist
c. Accessing a column with misspelled column name
d. Accessing the function from a module that has not been imported

answer of question 10 - option a

Q11.What type of exception will be raised for the code given below?

x="string"
int(x)
a. NameError
b. KeyError
c. ValueError
d. AttributeError

In [26]:
x="string"
int(x)

ValueError: invalid literal for int() with base 10: 'string'

In [ ]:
answer of question 11 - option c

Q12.A FileNotFoundError exception is raised by operating system errors when: -
a. Trying to create a file or directory which already exists
b. A file or directory is requested but does not exist in the working directory
c. Trying to run an operation without the adequate access rights
d. A directory operation, os.listdir() is requested on something which is not a
directory

answer of question 12 - option b

In [27]:
import pandas as pd
df = pd.read_csv("file_name_01")
df

FileNotFoundError: [Errno 2] No such file or directory: 'file_name_01'

Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
a. Complex
b. Character
c. Integer
d. Boolean

In [33]:
Z = "ID-5632"
type(Z)

str

answer of question 13 - option b

Q14.Which of the following variable(s) are character data type?
a. K= ‚Äú4‚Äù
b. J= ‚ÄúWelcome‚Äù
c. L= ‚Äú?‚Äù
d. All of the above

In [34]:
k = "4"
j = "welcome"
l = "?"

type(k),type(j),type(l)

(str, str, str)

answer of question 14 - option d

Q15.Choose the symbol/s that does not have the ability to convert any values to string?
a. ( )
b. ‚Äú ‚Äù
c. {}
d. #

answer of question 15 -  option d

Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals
respectively:
Country India China Japan Qatar France
State Delhi Beijing Tokyo Doha Marseilles
Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:

In [48]:
Country = {
    'India':'Delhi',
    'China':'Beijing',
    'Japan':'Tokyo',
    'Qatar':'Doha',
    'France':'Marseilles'}

Country.update({'France':'Paris'})
Country = {**Country, 'France':'Paris'}
Country

{'India': 'Delhi',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'Qatar': 'Doha',
 'France': 'Paris'}

Q17. Create the tuples given below
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
Identify which of the following code does not work on a tuple.
a. sum(tuple_1)
b. len(tuple_2)
c. tuple_2 + tuple_1
d. tuple_1[3] = 45

In [53]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

sum(tuple_1),len(tuple_2),tuple_2 + tuple_1
tuple_1[3] = 45

TypeError: 'tuple' object does not support item assignment

answer of question 17 - option d

Q18. How many elements in the following data structure?

S = {1,2,3,4,4,4,5,6}

In [33]:
S = {1,2,3,4,4,4,5,6}
print(len(S))

6

There are 6 elements in above data structure , as the data structure represent 'Set', hence duplicate elements are not considered

Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no
greater than a natural number N.

In [28]:
def pythagoreantriplets(N):
  c=0
  m=2
  while(c<N):
    for n in range(1,m+1):
        a=m*m-n*n
        b=2*m*n
        c=m*m+n*n
        if(c>N):
            break
        if(a==0 or b==0 or c==0):
            break
        print(a,b,c)
    m=m+1

In [35]:
pythagoreantriplets(24)

3 4 5
8 6 10
5 12 13
15 8 17
12 16 20